<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asteroid.voardapp.mapper.BoardMapper">
    <select id="selectList" parameterType="com.asteroid.voardapp.model.Board" resultType="com.asteroid.voardapp.model.Board" >
        select *
          from t_board_list
    </select>
</mapper>
