<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asteroid.voardapp.mapper.BoardMapper">
    <select id="getBoardList" parameterType="com.asteroid.voardapp.model.Board" resultType="com.asteroid.voardapp.model.Board" >
        SELECT *
          FROM T_BOARD_LIST
         WHERE ROWNUM <![CDATA[<]]> 100
        ORDER BY BOARD_NO DESC
    </select>

    <select id="getBoardInfo" parameterType="com.asteroid.voardapp.model.Board" resultType="com.asteroid.voardapp.model.Board" >
        SELECT *
          FROM T_BOARD_LIST
         WHERE BOARD_NO = #{board_no}
    </select>

    <insert id="insertBoardInfo" parameterType="com.asteroid.voardapp.model.Board">
        DECLARE
            V_BOARD_NO NUMBER;
        BEGIN
            SELECT MAX(BOARD_NO) + 1 INTO V_BOARD_NO FROM T_BOARD_LIST;

            INSERT INTO T_BOARD_LIST
            SELECT V_BOARD_NO,
                   #{board_title},
                   #{board_user_id},
                   TO_CHAR(SYSDATE, 'YYYYMMDDHH24mmss'),
                   TO_CHAR(SYSDATE, 'YYYYMMDDHH24mmss'),
                   #{board_content}
              FROM DUAL;
        END;
    </insert>
</mapper>
